.hamburger {
	display:none;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #000;
    margin: 3px 0;
    transition: all 0.3s;
    border-radius: 3px;
    position: absolute;
    margin-top:7em;
    margin-left:1em;
}

.hamburger span:nth-child(1) {
    top: 10px;
}

.hamburger span:nth-child(2) {
    top: 18px;
}

.hamburger span:nth-child(3) {
    top: 26px;
}

.hamburger.active span:nth-child(1) {
    top: 18px;
    transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    top: 18px;
    transform: rotate(-45deg);
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 0;
}

@media (min-width:600px){ 

     .hamburger {
        display: flex;
    }

.nav-menu {
        position: absolute;
        top: 125px;
        left: 12px;
        width: 100%;
        max-height:0;
        flex-direction: column;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

 .nav-menu.active {
        max-height: 400px;
    }
}